.taskCard {
  display: flex;
  position: relative;
  height: 80px;
  min-height: 80px;
  width: min(900px, 100%);
  margin: 0 auto;
  overflow: hidden;
  animation: rollIn 1s forwards;
}

.taskCard__completedIcon {
  position: absolute;
  top: 4px;
  left: 4px;
  color: green;
}

.taskCard__details {
  flex-grow: 2;
  padding: 14px 12px 14px 24px;
}

.taskCard__details p {
  margin: 0;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: rgb(46, 46, 46);
}

.taskCard__dueDate {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
  background-color: rgb(224, 224, 224);
}

.taskCard__dueDate p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: rgb(105, 71, 77);
}

.overdue p {
  color: rgb(255, 47, 47);
}

.completed p {
  color: rgb(189, 189, 189);
}

@keyframes rollIn {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .taskCard__details {
    padding: 14px 6px 14px 12px;
  }

  .taskCard__dueDate {
    min-width: 54px;
  }

  .taskCard__dueDate p {
    font-size: 16px;
  }
}
