.toolbar {
  display: flex;
  justify-content: center;
  gap: 32px;
  height: 40px;
  background-color: #efefef;
}

.toolbar__item {
  display: flex;
  align-items: center;
}

.toolbar__icon {
  margin-right: 8px;
  color: rgb(155, 155, 155);
  transition: 0.5s;
}

.toolbar__item p {
  margin: 0px;
  color: rgb(155, 155, 155);
  transition: 0.5s;
}

.toolbar__item:hover .toolbar__icon,
.toolbar__item:hover p,
.toolbar__item:hover button {
  cursor: pointer;
  color: rgb(43, 43, 43) !important;
}

@media screen and (max-width: 600px) {
  .toolbar {
    gap: 18px;
  }

  .toolbar__icon {
    margin-right: 4px;
  }
}
